@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300&family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 
.JobContainer {
  height: 600px;
  text-align: center;
  overflow: hidden;
  & .JobTitle {
    margin-top: 60px;
    font-weight: bold;
    font-size: 32px;
    font-family: "IBM Plex Sans Thai", "IBM Plex Sans Condensed";

  }
  & .JobContentList {
    margin-top: 110px;
    display: flex;
    justify-content: center;
  }
  & .JobContent {
    width: 250px;
    margin: 0 50px;
    & .JobContentTitle {
      font-weight: bold;
      font-size: 32px;
      color: #0085ff;
      margin: 25px 0px;
    }
    & .JobContentIcon {
      & svg {
        height: 80px;
        width: 80px;
        color: #0085ff;
      }
    }
    & .JobContentDetail {
      font-size: 16px;
      font-family: "IBM Plex Sans Thai", "IBM Plex Sans Condensed";

    }
  }
}

@media screen and (max-width: 770px) {
  .JobContainer {
    margin-top: 0px;
    height: auto !important;
    & .JobContentList {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      & .JobContent {
        transition: width 0.5s ease;
        width: 100%;
        padding: 0 20px;
        margin-bottom: 20px;
      }
    }
  }
}
