@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300&family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

nav { 
  background-color: #0085ff;
  overflow: hidden;
  position: relative;
  & a {
    color: #fff;
  }

  & .MobileMenuBars{
    position: absolute;
    color: #ffffff;
    right: 20px;
    top: 52.5px;
  }

  & .conteiner {
    max-width: 1170px;
    margin: 0 auto;
  }

  & .navbarBar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .NavLogo {
      & a {
        text-decoration: none;
        font-weight: bold;
      }
    }

    & ul {
      display: flex;
      list-style: none;
      & li {
        margin: 0 35px;
        & a {
            text-decoration: none;
        }
      }
    }

    & .btnHireMe {
        width: 100px;
        height: 35px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transition: 0.3s;
        cursor: pointer;
        font-weight: bold;
        &:hover{
            box-shadow: 0 0 20px 0px rgba(0,0,0,0.3) ;
        }
        & a {
          text-decoration: none;
          color: #333;
        }
        & svg{
          margin-right: 5px;
        }
    }
    & .SetColorTheme{
      & svg { 
        font-size: 20px;
      }
    } 
  }
}

@media screen and (max-width: 820px) {
  & .navbarBar{
    flex-direction: column;
    height: auto !important;
    margin: 50px 0;
    align-items: start !important;
    margin-left: 30px;

    & ul , .btnHireMe{
      display: none !important;
    }

  }
  & .MobileListMenuBars{
    list-style: none;

    & li {
      margin: 35px;
      & a{
        text-decoration: none;
        font-weight: bold;
      }
    }
  
  }
  & .MobileBtnHireMe{
    margin: 35px;
    font-weight: bold;
    width: 100px;
    height: 35px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    & svg{
      margin-right: 5px;
    }
    & a{
      color: #000000;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 821px) {
  & .MobileListMenuBars, .MobileBtnHireMe, .MobileMenuBars{
    display: none;
  }
}