@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300&family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 
nav {
  background-color: #0085ff;
  overflow: hidden;
  position: relative;
  & ul,
  li {
    color: #fff;
  }

  & .MobileMenuBars {
    position: absolute;
    color: #ffffff;
    right: 20px;
    top: 52.5px;
  }

  & .conteiner {
    max-width: 1170px;
    margin: 0 auto;
  }

  & .navbarBar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .NavLogo {
      & a {
        color: #fff;
        text-decoration: none;
        /* font-weight: bold; */
        cursor:  pointer;
        &:hover{
          font-weight: 900;
          color: #000000;
        }
      }
    }

    & ul {
      display: flex;
      list-style: none;
      & li {
        font-family: "IBM Plex Sans Thai", "IBM Plex Sans Condensed";
        cursor: pointer;
        &:hover{
          color: #000000; 
          font-weight: bold;
        }
        margin: 0 35px;
        & a {
          text-decoration: none;
        }
      }
    }

    /* css BtnChangeSwitch */
    & .DivChangeSwitch { 
      display: inline-flex;
      & .FormChangeSwitch {
        & .InputLabelLanguage {
          color: #fff;
        }
        & .SelectLanguage {
          color: #fff;
          font-family: "IBM Plex Sans Thai", "IBM Plex Sans Condensed";
          & MenuItem {
            color: #fff;
          }
        }
      }
    }

    & .btnHireMe {
      width: 100px;
      height: 35px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      transition: 0.3s;
      cursor: pointer;
      font-weight: bold;
      &:hover {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
      }
      & a {
        text-decoration: none;
        color: #333;
      }
      & svg {
        margin-right: 5px;
      }
    }

    & .SetColorTheme {
      & svg {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .conteiner {
    & .navbarBar {
      & .NavLogo {
        margin-left: 50px;
        transition: margin-left 0.5s ease;
      }
      & .btnHireMe {
        margin-right: 50px;
        transition: margin-right 0.5s ease;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .conteiner {
    & .navbarBar {
      & .NavLogo {
        margin-left: 30px;
        transition: margin-left 0.5s ease;
      }
      & .btnHireMe {
        margin-right: 30px;
        transition: margin-right 0.5s ease;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  & .navbarBar {
    flex-direction: column;
    height: auto !important;
    margin: 50px 0;
    align-items: start !important;
    margin-left: 30px;

    & ul,
    .DivChangeSwitch {
      display: none !important;
    }
  }

  & .MobileListMenuBars {
    list-style: none;
    
    margin-left: 25px;
    & li {
      font-family: "IBM Plex Sans Thai", "IBM Plex Sans Condensed";
      margin: 35px;
      text-decoration: none;
      font-weight: bold;
    }
  }
& .DivChangeSwitch{
  display: none;
}
  & .MobileDivChangeSwitch {
    margin-left: 50px;
    margin-bottom:30px;
    font-weight: bold;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    & .InputLabelLanguage{
      color: #fff;
      font-family: "IBM Plex Sans Thai", "IBM Plex Sans Condensed";
    }
    & .SelectLanguage {
      color: #fff;
      font-family: "IBM Plex Sans Thai", "IBM Plex Sans Condensed";
      & MenuItem {
        color: #fff;
      }
    }
    & svg {
      margin-right: 5px;
    }
    & a {
      color: #000000;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 821px) {
  & .MobileListMenuBars,
  .MobileMenuBars,
  .MobileDivChangeSwitch{
    display: none;
  }
}
