@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300&family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 
.SkillContainer {
  height: 300px;
  background-color: #0085ff;
  text-align: center;
  color: #fff;
  overflow: hidden;

  & .SkillTitle {
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
    font-family: "IBM Plex Sans Thai", "IBM Plex Sans Condensed";

  }

  & .SkillList {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 70px;
    & li {
      margin: 0 20px;
      & svg {
        width: 80px;
        height: 80px;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .SkillContainer {
    height: auto !important;
    overflow: hidden;

    & .SkillTitle {
      margin: 20px 0px; 
      font-weight: 900;
    }

    & .SkillList {
      margin: 10px 20px 0px 0px;
      & li {
        margin: 0 20px;
        & svg {
          width: 40px;
          height: 40px;
          transition: width 0.5s ease;
          @media screen and (max-width: 550px) {
            width: 20px;
            height: 20px;
            transition: width 0.5s ease;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .SkillContainer {
    & .SkillList { 

      margin: 0 30px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      & li {
        & svg {
          margin: 10px 0px;
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}


@media screen and (max-width: 430px) {
  .SkillContainer {
    & .SkillList { 
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      & li {
        & svg {
          margin: 10px 0px;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
