@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300&family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 
.ContactPageWrapper {
    max-width: 1470px !important;
    height: auto !important;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;

    & .ContactPageTitle {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & p { 
            font-weight: bold;
            font-family: "IBM Plex Sans Thai", "IBM Plex Sans Condensed";
            font-size: 64px;
        }
    }
}