@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300&family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 
.ContactWrapper {
  height: 500px;
  background-color: #0085ff;
  color: #fff;
  overflow: hidden;
  & .ContactContainer {
    display: flex;
    max-width: 1170px;
    margin: 50px auto 0;
    justify-content: space-between;
    & .ContactInfo {
      width: 420px;
      
      & h3 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 25px;
        font-family: "IBM Plex Sans Thai", "IBM Plex Sans Condensed";

      }
      & .ContactDetail {
        margin-bottom: 25px;
        font-family: "IBM Plex Sans Thai", "IBM Plex Sans Condensed";

      }
      & .ContactAddress {
        margin-bottom: 20px;
        font-family: "IBM Plex Sans Thai", "IBM Plex Sans Condensed";

      }
      & .ContactPhone,
      .ContactEmail {
        margin-bottom: 10px;
        font-family: "IBM Plex Sans Thai", "IBM Plex Sans Condensed";

        & svg {
          margin-right: 5px;
        }
      }
    }
    & .ContactForm {
      font-family: "IBM Plex Sans Thai", "IBM Plex Sans Condensed";

      width: 520px;
      /* outline: 1px solid #333; */
      & span {
        color: red;
      }
      & label {
        display: block;
        margin: 10px 0;
        font-size: 14px;
        font-weight: bold;
      }
      & .ContactGroupInput {
        display: flex;
        justify-content: space-between;
        & label {
          font-family: "IBM Plex Sans Thai", "IBM Plex Sans Condensed";
        }
        & input {
          width: 250px;
          height: 40px;
          border-radius: 5px;
          padding: 15px;
          border: none;
          outline: none;
        }
      }
      & .ContactInputEmail {
        & label {
          font-family: "IBM Plex Sans Thai", "IBM Plex Sans Condensed";
        }
        & input {
          width: 100%;
          height: 40px;
          border-radius: 5px;
          padding: 15px;
          border: none;
          outline: none;
        }
      }
      & .ContactInputMessage {
        & label {
          font-family: "IBM Plex Sans Thai", "IBM Plex Sans Condensed";
        }
        & textarea {
          width: 100%;
          height: 100px;
          border-radius: 5px;
          padding-top: 10px;
          padding-left: 15px;
        }
      }
      & button {
        font-family: "IBM Plex Sans Thai", "IBM Plex Sans Condensed";
        width: 100px;
        height: 40px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        font-size: 14px;
        font-weight: bold;
        margin-top: 20px;
        transition: 0.3ms;
        &:hover {
          box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.3);
        }
      }
    }
  }
}

@media screen and (max-width: 1290px) {
  .ContactWrapper {
    & .ContactContainer {
      margin: 60px;
    }
  }
}

@media screen and (max-width: 1060px) {
  .ContactWrapper {
    & .ContactContainer {
      & .ContactInfo {
        width: auto !important;
        overflow: hidden;
      }
    }
  }
}

@media screen and (max-width: 880px) {
  .ContactWrapper {
    height: auto !important;
    overflow: hidden;
    & .ContactContainer {
      flex-direction: column; 
      & .ContactForm {
        width: auto !important;
        overflow: hidden; 
        & .ContactGroupInput {
          flex-direction: column;
          & input {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .ContactWrapper {
    height: auto !important;
    overflow: hidden;
    & .ContactContainer {
      flex-direction: column;
      & .ContactForm {
        width: auto !important;
        overflow: hidden; 
        & .ContactGroupInput {
          & .ContactInput {
            font-family: "IBM Plex Sans Thai", "IBM Plex Sans Condensed";
            & input {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
