@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300&family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.NumberContainer{
    height: 300px;
    background-color: #0085ff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    & .NumberItem{
        color: #fff;
        margin: 0 50px;
        & .NumberQuantity{
            font-size: 48px;
            font-weight: bold;
            
        }
        & .NumberTitle{
            font-size: 24px;
            font-weight: bold;
            font-family: "IBM Plex Sans Thai", "IBM Plex Sans Condensed";

        }
    }
}

@media screen and (max-width: 740px) {
   .NumberContainer{
    height: auto !important;
    display: grid;
    grid-template-columns: 1fr 1fr;

    overflow: hidden;
    padding: 50px 0px;
    & .NumberItem{
        margin: 20px 0px;
    }
   }
}


@media screen and (max-width: 450px) {
    .NumberContainer{
     height: auto !important;
     display: block;
     overflow: hidden;
     padding: 50px 0px;
     & .NumberItem{
         margin: 20px 0px;
     }
    }
 }