.NumberContainer{
    height: 300px;
    background-color: #0085ff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    & .NumberItem{
        color: #fff;
        margin: 0 50px;
        & .NumberQuantity{
            font-size: 48px;
            font-weight: bold;
        }
        & .NumberTitle{
            font-size: 24px;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 740px) {
   .NumberContainer{
    height: auto !important;
    display: grid;
    grid-template-columns: 1fr 1fr;

    overflow: hidden;
    padding: 50px 0px;
    & .NumberItem{
        margin: 20px 0px;
    }
   }
}


@media screen and (max-width: 450px) {
    .NumberContainer{
     height: auto !important;
     display: block;
     overflow: hidden;
     padding: 50px 0px;
     & .NumberItem{
         margin: 20px 0px;
     }
    }
 }